
@{
    ViewBag.Title = "CreateUser";
}

<h2>CreateUser</h2>

<form class="form">
    <input type="text" placeholder="Username" required />
    <input type="text" placeholder="Username" required />
    <input type="text" placeholder="Username" required />

</form>