@using Microsoft.AspNet.Identity
<div id="loginDiv" ng-controller="AccountController as $ctrl">
    @if (Request.IsAuthenticated)
    {
        @Html.Partial("LoginPartials/Authenticated")
    }
    else
    {    
    @Html.Partial("LoginPartials/NotAuthenticated")
    }
</div>