<div class="form-div">
    <ul class="nav navbar-nav navbar-right">
        <li class="ng-cloak"><button class="btn btn-info" ng-click="$ctrl.account()">{{$ctrl.user.UserName}}</button></li>
        <li><button class="btn btn-info" ng-click="$ctrl.logOut()">Log Out</button></li>
    </ul>
</div>