@model string
@{
    ViewBag.Title = "Admin Index";
}
@section BootstrapJSONData
{
<script>
    "use strict";
        angular.module("AdminApp").factory("BootstrappedData", function () {
            return {
                data: @Html.Raw(Model)
            };
        });
</script>    
}
<div ng-app="AdminApp" ng-controller="AdminController as $ctrl" ng-init="$ctrl.init()">
    <br />
    <div ng-view></div>
</div>
