<div class="jumbotron">
    <h1 ng-cloak>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row" ng-controller="testController as vm">

    <div class="col-md-4">
        <input enctype="multipart/form-data" style="margin: 2px;" id="uploadInput" type="file" />
        <button style="margin: 2px;" ng-click="upload()">Upload</button>
    </div>


    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" action="api/files">
            <input name="upload" type="file" />
            <input type="submit" value="Upload" />
        </form>
    </div>

    <input type="file" id="file" name="file" multiple onchange="angular.element(this).scope().getFileDetails(this)" />
    <input type="button" ng-click="vm.upload()" value="Upload" />

</div>
