<div>
    <ul class="nav navbar-nav">
        <li><a href="/Admin">Admin SPA</a></li>
        <li><a href="/Courses">Courses</a></li>
        <li><a href="/Assignments">Assignments</a></li>
        <li>@Html.ActionLink("Add News", "Create", "News", new { area = "" }, null)</li>
    </ul>
</div>