
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <h3>Admin Index</h3>
    <a href="/Admin/Users" admin-link>Users</a> <br />
    <a href="/Admin/Roles" admin-link>Roles</a> <br />
    <p>
        Nothing here yet...
    </p>
}
else
{
    Response.Redirect("~/");
}
