
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{    
    <ul class="list-unstyled list-inline">
        <li><a href="/Admin" class="previous btn btn-default" admin-link>&laquo; Back</a><br /></li>
        <li><button class="btn btn-info" ng-click="$ctrl.createRoleDialog()">Create New Role</button></li>
    </ul>
    <div>
        <div>
            <h3>{{$ctrl.statusMsg}}</h3>
            <table class="table">
                <tr>
                    <th>Name</th>
                </tr>
                <tr ng-repeat="role in $ctrl.roles">
                    <td>{{role.Name}}</td>
                    <td>
                        <button class="btn btn-sm btn-info">Details</button>
                        <button class="btn btn-sm btn-warning" ng-click="$ctrl.editRoleDialog(role)">Edit</button>
                        <button class="btn btn-sm btn-danger" ng-click="$ctrl.deleteRoleDialog(role)">Delete</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
else
{
    Response.Redirect("~/");
}
