
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{    
    <ul class="list-unstyled list-inline">
        <li><button class="btn btn-info" ng-click="$ctrl.createRoleDialog()">Create New Role</button></li>
    </ul>
    <div>
        <div>
            <h3>{{$ctrl.statusMsg}}</h3>
            <table class="table">
                <tr>
                    <th>Name</th>
                </tr>
                <tr ng-repeat="role in $ctrl.roles">
                    <td>{{role.Name}}</td>
                    <td>
                        <button class="btn btn-sm btn-info" ng-click="$ctrl.editRoleDialog(role)">Details</button>
                        <button class="btn btn-sm btn-danger" ng-click="$ctrl.deleteRoleDialog(role)">Delete</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
else
{
    Response.Redirect("~/");
}
