
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <a href="/Admin" class="previous" admin-link>&laquo; Back</a>
    <div class="form-div">
        <form ng-submit="$ctrl.createRole()">
            <ul class="list-inline list-unstyled">
                <li><input class="form-control" required type="text" ng-model="$ctrl.newRole.Name" placeholder="Name" /></li>
                <li><button type="submit" class="btn btn-info">Create Role</button></li>
            </ul>
        </form>
    </div>
    <div>
        <div>
            <h3>{{$ctrl.statusMsg}}</h3>
            <table class="table">
                <tr>
                    <th>Name</th>
                </tr>
                <tr ng-repeat="role in $ctrl.roles">
                    <td>{{role.Name}}</td>
                    <td>
                        <button class="btn btn-sm btn-info">Details</button>
                        <button class="btn btn-sm btn-warning" ng-click="$ctrl.editRole(role)">Edit</button>
                        <button class="btn btn-sm btn-danger" ng-click="$ctrl.deleteRole(role)">Delete</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
else
{
    Response.Redirect("~/");
}
