
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <ul class="list-unstyled list-inline">
        <li><button class="btn btn-info" ng-click="$ctrl.createDialog()">Create New User</button></li>
    </ul>
    <div>
        <div>
            <h3>{{$ctrl.statusMsg}}</h3>
            <table class="table">
                <tr>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Options</th>
                </tr>
                <tr ng-repeat="user in $ctrl.users">
                    <td>{{user.UserName}}</td>
                    <td>{{user.Role}}</td>
                    <td>
                        <button class="btn btn-sm btn-warning" ng-click="$ctrl.setPasswordDialog(user)">Set Password</button>
                        <button class="btn btn-sm btn-info" ng-click="$ctrl.editDialog(user)">Details</button>
                        <button class="btn btn-sm btn-danger" ng-click="$ctrl.deleteDialog(user)">Delete</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
else
{
    Response.Redirect("~/");
}
