
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <a href="/Admin" class="previous" admin-link>&laquo; Back</a><br />
    <button class="btn btn-success btn-sm" ng-click="$ctrl.createDialog()">Create New User</button>
    <div>
        <div>
            <h3>{{$ctrl.statusMsg}}</h3>
            <table class="table">
                <tr>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Email</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Options</th>
                </tr>
                <tr ng-repeat="user in $ctrl.users">
                    <td>{{user.UserName}}</td>
                    <td>{{user.Role}}</td>
                    <td>{{user.Email}}</td>
                    <td>{{user.FirstName}}</td>
                    <td>{{user.LastName}}</td>
                    <td>
                        <button class="btn btn-sm btn-info">Details</button>
                        <button class="btn btn-sm btn-warning" ng-click="$ctrl.editDialog(user)">Edit</button>
                        <button class="btn btn-sm btn-danger" ng-click="$ctrl.deleteDialog(user)">Delete</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
else
{
    Response.Redirect("~/");
}
